/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Typography Scale - 1.333 Perfect Fourth */
html {font-size: 1em;}

body {
  background-color: #F1F1F1;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  max-width: 100%;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-size: 3.157em;
  font-weight: 700;
}

h2 {
    font-size: 2.369em;
    font-weight: 700;
}

h3 {
    font-size: 1.777em;
    font-weight: 700;
}

h4 {
    font-size: 1.333em;
    font-weight: 700;
}

h5 {
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.063em;
}

small, .font_small {font-size: 0.75em;}

/* Styles Guide */

eurobank-blue {
    color: #24346F;
}

eurobank-red {
    color: #D52727;
}

section.account-header {
    margin-bottom: 0.8em;
    padding-bottom: 1em;
    background: #24346F;
    box-shadow: 0px 3px 31px -8px rgba(0,0,0,0.75);
}

header .top-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

header .top-bar .user-icon,
header .top-bar .menu-icon {
    margin: 0.6em;
    font-size: 1.5em;
    color: #FFFFFF;
    line-height: 0.5;
}

header .card-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

header .card-icon .fa-credit-card-alt {
    font-size: 5em;
    color: #FFFFFF;
}

header .card-icon {
    margin: 0.5em;
}

header .card-details {
    text-align: center;
    color: #FFFFFF;
}

header .account-balance {
    margin-top: 0.3em;
}

header .account-balance h5 {
    font-size: 1.7em;
    
}

.transaction-list ul li {
    padding: 0.85em 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.transaction-list ul li:not(:last-child) {
    border-bottom: 1px solid #d3d3d3;
}

.transaction-list ul li .description {
    font-weight: 700;
}

.transaction-list ul li .transaction-details {
    padding: 0 1em;
    -ms-flex-preferred-size: 7 1 auto;
    flex-basis: 7 1 auto;
}

.transaction-list ul li .transaction-amount {
    padding-right: 1em;
}

.transaction-list ul li .transaction-amount .value {
    font-size: 1.25em;
    font-weight: 700;
}

.transaction-list .transaction.promised {
  border-left: 5px solid #24346F;
}

/* 2 */

html, body {
  overflow-x: hidden;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

.pages.switch .page1{
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.pages.switch .page2{
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.page {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  -webkit-transition: -webkit-transform .25s linear;
  transition: -webkit-transform .25s linear;
  transition: transform .25s linear;
  transition: transform .25s linear, -webkit-transform .25s linear;
}

.page2 {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.page2 .account-header .top-bar .user-icon .back-icon {
    font-size: 1.5em;
    font-weight: 700;
}


.transaction .actions button {
  border: 1px solid #fff;
  color: #fff;
  padding: .8em 1em;
  margin-top: 1em;
  border-radius: 3px;
  background-color: transparent;  
}

.transaction .promised-actions {
  display: none;
}

.transation.promised .pending-actions {
  display: none;
}